* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.clear {
    clear: both;
}

h1 {
    font-size: 25px;
}

.chat {
    width: 100%;
    min-height: 300px;
}
div.message {
    width: 800px;
    min-height: 100%;
    border: 1px solid #000;
    max-height: 750px;
    overflow: auto;
    float: left;
}
.message-wrapper {

}
.user-box {
    width: 350px;
    float: right;
    border: 1px solid #000;
}
div.message .time {
    color: #000;
}
div.message .time:before {
    content: "[";
}
div.message .time:after {
    content: "] ";
}
div.message .name {
    color: darkred;
    font-weight: bold;
}
div.message .name:after {
    content: ": ";
}
div.message .message {

}
div input.submit-message {
    width: 50px;
    height: 50px;
    background: yellow;
    border: 3px solid blue;
    color: red;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.exit {
    display: block;
    width: 150px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    background: red;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.message-item[data-name="Konstantin"] {
    color: darkgreen;
}

.leave-message input{
    width: 300px;
    padding: 5px;
    margin-top: 15px;
    font-size: 15px;
}